SUPA_SERVICE_KEY=your_supabase_service_key
MP_ACCESS_TOKEN=your_mercadopago_token
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
APP_BASE_URL=https://tudominio.com
TN_CLIENT_ID=your_tiendanube_client_id
TN_CLIENT_SECRET=your_tiendanube_client_secret
